<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Pharmacy</title>
</head>
<body>
<a href="/admin/dashboard">
  <button>Dashboard</button>
</a>
<a href="/admin/viewpharmacies">
  <button>Pharmacies</button>
</a>
<a href="/admin/removecustomers">
  <button>Customers</button>
</a>
<a href="/admin/removemedicine">
  <button>Medicine & Groceries</button>
</a>
<a href="/admin/viewads">
  <button>Ads</button>
</a>
<a href="/admin/settings">
  <button>Application Settings</button>
</a>
<a href="/admin/technicalhelp">
  <button>Get Technical help</button>
</a>
<a href="/logout">
  <button>Logout</button>
</a>
<h1>Admin Add Pharmacy</h1>
<br><br>
<form action="#" th:action="@{/admin/addpharmacy}" th:object="${signupDetails}" method="post">
  <label for="pharmacyName">Name of pharmacy:</label><br>
  <input type="text" id="pharmacyName" name="pharmacyName" th:field="*{pharmacyName}"><br>

  <label for="registrationId">Registration ID:</label><br>
  <input type="text" id="registrationId" name="registrationId" th:field="*{registrationId}"><br>

  <label for="contactNo">Contact No:</label><br>
  <input type="text" id="contactNo" name="contactNo" th:field="*{contactNo}"><br>

  <label for="ownerName">Owner of the Pharmacy:</label><br>
  <input type="text" id="ownerName" name="ownerName" th:field="*{ownerName}"><br>

  <label for="province">province:</label><br>
  <input type="text" id="province" name="province" th:field="*{province}"><br>

  <label for="district">district:</label><br>
  <input type="text" id="district" name="district" th:field="*{district}"><br>

  <label for="city">city:</label><br>
  <input type="text" id="city" name="city" th:field="*{city}"><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" th:field="*{password}"><br>

  <input type="submit" value="Add">
</form>
</body>
</html>